.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: true;
}
.chart-plot-background {
    -fx-background-color:transparent;
}
.chart1 {
    -fx-padding: 10px;
    -fx-background-color: transparent;
 
}